<div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>

      <ul>
          <li ng-repeat="thing in awesomeThings">{{thing}}</li>
      </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
    

   <h3>welcome: {{welcome}}</h3>
    
    <p>Latitude: {{position.coords.latitude}}</p>
    <p>Longitude: {{position.coords.longitude}}</p>
    <p>Altitude: {{position.coords.altitude}}</p>
    <p>Accuracy: {{position.coords.accuracy}}</p>
    <p>Altitude Accuracy: {{position.coords.altitudeAccuracy}}</p>
    <p>Heading: {{position.coords.heading}}</p>
    <p>Speed: {{position.coords.speed}}</p>
    <p>Timestamp: {{position.timestamp}}</p>

    <p>Acceleration X: {{acceleration.x}}</p>
    <p>Acceleration Y: {{acceleration.y}}</p>
    <p>Acceleration Z: {{acceleration.z}}</p>
    <p>Timestamp: {{acceleration.timestamp}}</p>
    
</div>
